{% extends 'base.html' %}
{% block title %}{% endblock %}
{% load i18n %}
{% block content %}

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'warning' %}
            <div class="text-center alert alert-danger">
                     {{ message }}
            </div>
        {% else %}
            <div class="text-center alert alert-{{ message.tags }}">
                     {{ message }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
<br><br>


<div class="container wrapper flex-grow-1">

    {% for product in products %}
        <div class="card">
          <h5 class="card-header">{{ product.name }}</h5>
          <div class="card-body">
            <h5 class="card-title">{{ product.author }}</h5>
            <p class="card-text">{{ product.start_date }}</p>
            <a href="{% url 'products:detail_page' pk=product.id %}" class="btn btn-primary">Перейти к продукту</a>
          </div>
        </div>
    {% endfor %}

</div>

{% endblock %}